@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

body {background-color: #e6e9dd; color: #697565; font-family: "Roboto", sans-serif;}

h1,h2, h3 {color: #674636; font-family: "Lato", sans-serif; font-weight: 400;}

p {line-height: 25px; font-weight:300}

.navbar-toggler span {color: white;}

.navbar-brand img {width: 32px;}

footer{color:#363030;font-size: 20px;}